<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>design-uncompleted</title>
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css'>
<link rel='stylesheet' href='https://unpkg.com/@mdi/font@6.x/css/materialdesignicons.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900'>

</head>
<body>
<!-- partial:index.partial.html -->
<div id="app">
    <v-app>
      <v-container>
        <v-card class="my-4">
          <v-card-title class="headline">お宝にたどり着け！</v-card-title>
          <v-card-text>
            {{ currentScene.text }}
          </v-card-text>
        </v-card>

        <div v-if="currentScene.options.length > 0 && !resultMessage">
          <v-btn
            v-for="(option, index) in currentScene.options"
            :key="index"
            @click="selectOption(option)"
            class="mx-2"
            outlined
            color="primary"
          >
            {{ option.text }}
          </v-btn>
        </div>
        
        <div v-else>
          <v-card class="my-4">
            <v-card-text>
              {{ resultMessage || '今回の冒険は終わり！また遊んでね' }}<br>
              <v-btn @click="resetStory" color="secondary">はじめから</v-btn>
            </v-card-text>
          </v-card>
        </div>
      </v-container>
    </v-app>
  </div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js'></script><script  src="./script.js"></script>

</body>
</html>
